<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WT17</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="relative">

{% include 'components/nav_controls.html' %}

<section class="bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col items-center justify-center space-y-6">

    <h1 class="text-6xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
        WT<span
            class="underline underline-offset-3 decoration-8 decoration-green-400 dark:decoration-green-600">17</span>
    </h1>
    <div class="download-section flex items-center justify-center w-full bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700 max-w-md p-6 space-y-6">
        {% if file_exists %}
            <a href="{{ url_for('download_file', filename=specific_download) }}"
               class="inline-flex items-center px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 transition whitespace-nowrap">
                <i class="fa-solid fa-download"></i>
                <span class="ml-2">Download {{ specific_download }}</span>
            </a>
        {% else %}
            <p class="text-red-500">This download is currently unavailable.</p>
        {% endif %}
    </div>
</section>

{% include 'components/nav_scripts.html' %}

</body>
</html>